<div class="c-footer">
  <div class="l-container">
    <div class="c-footer__bg">
    </div>
    <div class="c-footer__list">
      <div class="c-footer__item">
        <ul class="c-footer__menu">
          <li >
            商品に関するお問い合わせは
          </li>
          <li>
            健栄製薬株式会社
          </li>
          <li>
            TEL |｜06-6231-5626　受付時間 |｜8:45〜17:30(土日祝日を除く)
          </li>
        </ul>
      </div>
      <div class="c-footer__item c-footer__itemlogo">
        <a href="#" class="c-footer__logo">
          <img src="./assets/img/footer/©KENEI-Pharmaceutical.png"  alt="©KENEI" class="img-fluid">
        </a>
      </div>
    </div>
  </div>
 
</div>