<div class="c-header">
    <section class="c-header__banner">
        <div class="c-header__bannertext">
            <h1 class="c-header__texttop">
                <img src="./assets/img/banner/text/desktop.png" alt="ハッカ油 ">
            </h1>
            <p class="c-header__textmain1"> Mentha oil</p>
            <p class="c-header__textmain2">ハッカ油は、毎日の暮らしを豊かにする</p>
            <p class="c-header__textmain3">魔法のしずく</p>
            <a href="#" class=" c-header__textbottom c-btn__second">
                ハッカ？ミント？
            </a>
    </div>
    </section>
    <ul class="c-header__menulist">
        <li class="c-btn__primary  c-header__menuitem">
            トップ
        </li>
        <li class=" c-btn__primary c-header__menuitem">
            毎日にハッカ油
        </li>
        <li class=" c-btn__primary c-header__menuitem">
            製品情報
        </li>
        <li class=" c-btn__primary c-header__menuitem">
            Q&A
        </li>

        <li class=" c-btn__primary c-header__menuitem">
            ハッカ油コラム
        </li>
        <li class=" c-btn__primary c-header__menuitem">
            ハッカ油ムービー
        </li>
    </ul>

</div>