//ANCHOR container
$container: 1030px;
//ANCHOR fonts
$font: "Sawarabi Mincho", serif;
// ANCHOR mobile 
$width-mobile: 375px;
//ANCHOR color common
$primary-color: #176b6a ;
$second-color: #25a989;
//TODO black
$black28: #282828;     
$black00: #000;
$black33: #333;
//TODO white
$white: #fff;
