<%- include('_layouts/layout', { title: 'Component' }); -%>

<!-- @meta -->
<meta name="description" content="Component">
<!-- @@meta -->

<!-- @content -->

<!-- ANCHOR  banner  -->

 <!-- ANCHOR fix ul li -->
 
<!-- @@content -->
<section class="c-brand">
    <div class="c-brand__list">
      <% if(typeof brands != 'undefined') { %> <% brands.imgs &&
      brands.imgs.forEach(item => { %>
      <a class="c-brand__item">
        <img src="<%= item.img %>" alt="<%= item.alt %>" class="img-fluid" >
      </a>
      <% }) %> <% } %>
    </div>
  </section>
  <seciton class="c-point1">
    <div class="c-point__list">
        <div class="c-ponit__item">
            <div class="c-point__img">          
                
                <img src="./assets/img/point/point1/img-1.jpg" alt="" class="img-fluid">

                </div>
            </div>
            
        </div>

    </seciton>
  