<%- include('_layouts/layout', { title: 'Home page' }); -%>

<!-- @meta -->
<meta name="description" content="Home page" >
<!-- @@meta -->

<!-- @content -->
<main class="p-home">
<section class="c-uses">
  <div class="l-container">
    <div class="c-uses__boxtitle">
      <p class="c-uses__titlesmall">使い方いろいろ</p>
      <h2 class="c-uses__titlebig">毎日にハッカ油</h2>
    </div>
    <div class="c-uses__list">
      <a class="c-uses__item">
        <div class="c-uses__itembox">
            <div class="c-uses__itemstick">
              <img src="/assets/img/appliances/daily-use.png" alt="daily-use" class="img-fluid">
            </div>
            <div class="c-uses__itemimg">
              <img src="/assets/img/appliances/bottle.png" alt="ハッカ水" class="img-fluid">
            </div>
          <div class="c-uses__itemtext"><span>ハッカ水</span> </div>
          
        </div>

      </a>
      <a class="c-uses__item">
        <div class="c-uses__itembox">
            <div class="c-uses__itemstick">
              <img src="/assets/img/appliances/daily-use.png" alt="daily-use" class="img-fluid">
            </div>
            <div class="c-uses__itemimg">
              <img src="/assets/img/appliances/bottle.png" alt="ハッカ水" class="img-fluid">
            </div>
          <div class="c-uses__itemtext"><span>ハッカ水</span> </div>
          
        </div>

      </a>
      <a class="c-uses__item">
        <div class="c-uses__itembox">
            <div class="c-uses__itemstick">
              <img src="/assets/img/appliances/daily-use.png" alt="daily-use" class="img-fluid">
            </div>
            <div class="c-uses__itemimg">
              <img src="/assets/img/appliances/bottle.png" alt="ハッカ水" class="img-fluid">
            </div>
          <div class="c-uses__itemtext"><span>ハッカ水</span> </div>
          
        </div>

      </a>

      <a class="c-uses__item">
        <div class="c-uses__itembox">
            <div class="c-uses__itemstick">
              <img src="/assets/img/appliances/daily-use.png" alt="daily-use" class="img-fluid">
            </div>
            <div class="c-uses__itemimg">
              <img src="/assets/img/appliances/bottle.png" alt="ハッカ水" class="img-fluid">
            </div>
          <div class="c-uses__itemtext"><span>ハッカ水</span> </div>
          
        </div>

      </a>

      <a class="c-uses__item">
        <div class="c-uses__itembox">
            <div class="c-uses__itemstick">
              <img src="/assets/img/appliances/daily-use.png" alt="daily-use" class="img-fluid">
            </div>
            <div class="c-uses__itemimg">
              <img src="/assets/img/appliances/bottle.png" alt="ハッカ水" class="img-fluid">
            </div>
          <div class="c-uses__itemtext"><span>ハッカのエアフレッシュナー</span> </div>
          
        </div>

      </a>

      <a class="c-uses__item">
        <div class="c-uses__itembox">
            <div class="c-uses__itemimg">
              <img src="/assets/img/appliances/bulb.png" alt="ハッカ水" class="img-fluid">
            </div>
          <div class="c-uses__itemtext"><span>ハッカの清涼スプレー</span> </div>
          
        </div>

      </a>


      <a class="c-uses__item">
        <div class="c-uses__itembox">
          <div class="c-uses__itemstick">
            <img src="/assets/img/appliances/label-recommend.png" alt="label-recommend" class="img-fluid">
          </div>
            <div class="c-uses__itemimg">
              <img src="/assets/img/appliances/face-mask.png" alt="ハッカ水" class="img-fluid">
            </div>
          <div class="c-uses__itemtext"><span>ハッカマスク</span> </div>
          
        </div>

      </a>

      <a class="c-uses__item">
        <div class="c-uses__itembox">
            <div class="c-uses__itemimg">
              <img src="/assets/img/appliances/bathtub.png" alt="ハッカ水" class="img-fluid">
            </div>
          <div class="c-uses__itemtext"><span>ハッカの入浴剤</span> </div>
          
        </div>

      </a>

      
    </div>
  </div>
</section>
<div class="c-points">
  <section class="c-point1">
      <div class="c-point1__title">
        
      </div>
  </section>
</div>
<section class="c-qa">
  <div class="l-container">
    <h2 class="c-qa__title">Q&A
    </h2>
    
    <dl class="c-qa__list">
      <% if(typeof medicans != 'undefined') { %> <% medicans.medican &&
     medicans.medican.forEach(item => { %>
      <div class="c-qa__item">
        <dt class="c-qa__itemtop">
          <img src="/assets/img/q&a/icon.png" alt="icon">
           <p class="c-qa__itemtitle">
            <%= item.title %>
           </p>
        </dt>
       <dd>
        <%= item.desc %>
        </dd>
      </div>
      <% }) %> <% } %>
    </dl>
    <section class="c-medicine">
      <div class="c-medicine__boxtext">
        <p class="c-medicine__titlesmall">日々の暮らしにお役立ち</p>
        <h2 class="c-medicine__titlebig">「ハッカ油コラム」へ</h2>
      </div>
   
    </section>
  </div>
</section>
</main>

<!-- @@content -->

<!-- @script -->

<!-- @@script -->
